%h1 Search Results

#search-results
-@presenter.stations.each do |station|
  %div{id: "station-#{station.id}"}
    %h3= station.name
    %p= "Address: #{station.address}"
    %p= "Fuel Type: #{station.fuel_type}"
    %p= "Distance: #{station.distance}"
    %p= "Open: #{station.access_times}"
    
  
  

